<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
			<head>
				<title>XA Tulsa</title>
				<link rel="stylesheet" href="files/main.css" type="text/css" />
				<script type="text/javascript" src="files/imageswap.js"></script>
			</head>
			<body onload="">
				<div id="bodycenter">
					<div id="header">
						<h1><span id="txt-xa">xa</span><span id="txt-tulsa">tulsa</span></h1>
					</div>
				<div id="navigation">
					<div id="navigationcenter">
						<div class="col">
							<a href="about.html" onmouseover="imgover('about');" onmouseout="imgout('about');">
								<span class="txt-over" id="txt-about">About XA</span>
								<img class="img" id="img-about" src="images/about-out.jpg" alt="" />
							</a>
						</div>
						<div class="col">
							<a href="prayer.html" onmouseover="imgover('prayer');" onmouseout="imgout('prayer');">
								<span class="txt-over" id="txt-prayer">Peak of the Week</span>
								<img class="img" id="img-prayer" src="images/prayer-out.jpg" alt="" />
							</a>
						</div>
						<div class="col">
							<a href="service.html" onmouseover="imgover('service');" onmouseout="imgout('service');">
								<span class="txt-over" id="txt-service">Rockin' Sockin' Tuesdays</span>
								<img class="img" id="img-service" src="images/service-out.jpg" alt="" />
							</a>
						</div>
						<div class="col">
							<a href="outreach.html" onmouseover="imgover('outreach');" onmouseout="imgout('outreach');">
								<span class="txt-over" id="txt-outreach">Reaching Out</span>
								<img class="img" id="img-outreach" src="images/outreach-out.jpg" alt="" />
							</a>
						</div>
						<div class="col">
								<span class="txt-over" id="txt-bible" style="cursor:default;">Get Yo' Word On</span>
								<img class="img" id="img-bible" src="images/bible-over.jpg" alt="" />
						</div>
						<div class="col">
							<a href="more.html" onmouseover="imgover('more');" onmouseout="imgout('more');">
								<span class="txt-over" id="txt-more">More Info</span>
								<img class="img" id="img-more" src="images/more-out.jpg" alt="" />
							</a>
						</div>
					</div>
				</div>
				<br style="clear:both;" />
				<br />
				<div id="content">
					<div id="contentcenter">
						<h2>Bible Study</h2>
						<p>Basically we have two bible studies from which you can choose. However, we make the choice pretty simple since one is for those of the male persuasion and the other for those of the female persuasion.</p>
						<h3>ABS</h3>
						<img src="images/abs.jpg" style="height:100px;width:150px;float:left;border:3px solid #336699;margin-right:6px;" alt="ABS" />
						<p>ABS is a great opportunity for men to get together for fun, fellowship, and most importantly an opportunity to look deeper into the role that God has set forth for us as men. It is about time that men step up and begin to walk the walk that God has laid out.  Come and go down that road with us.</p>
						<p>The name ABS means Application Bible Study. Our goal is to look into biblical applications and learn how to better apply them to our lives. We aim for this to be a discussion based time.</p>
						<p>The Bible study is tentatively scheduled for Thursdays at 8 PM in apartment 1612.</p>
						<h3>Catch-22</h3>
						<img src="images/catch-22.jpg" style="height:100px;width:150px;float:right;border:3px solid #336699;margin-left:6px;" alt="Catch-22" />
						<p>Catch 22 is Chi Alpha's girls only Bible study. We spend each Thursday evening together in fellowship (as girls do best) and in digging into God's word. The weekly lesson is usually more of a discussion, with each girl contributing their insights. We often include a book or devotional to guide our topics of conversation and we like to hear from guest speakers who have particular wisdom on the subject at hand. Overall, Catch 22 is a fun, relaxed time to study the Bible and get to know the girls in the group. Everyone is welcome to join us at any time. Even if you don't attend the regular Chi Alpha meetings we would love to see you at Catch 22! There is always a good time to be had.</p>
						<p>The Bible study's meeting location for this fall has not been fully determined.</p>
					</div>
				</div>
				<div id="footer">
					<div id="footercenter">
						<a href="index.html">Home</a> | <a href="http://www.chialpha.com/">National Chi Alpha</a> | <a href="http://www.xaoklahoma.com/">Oklahoma Chi Alpha</a> | <a href="contact.html">Contact Us</a>
					</div>
				</div>
				</div>
			</body>
		</html>