<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
			<head>
				<title>XA Tulsa</title>
				<link rel="stylesheet" href="files/main.css" type="text/css" />
				<script type="text/javascript" src="files/imageswap.js"></script>
			</head>
			<body onload="">
				<div id="bodycenter">
					<div id="header">
						<h1><span id="txt-xa">xa</span><span id="txt-tulsa">tulsa</span></h1>
					</div>
				<div id="navigation">
					<div id="navigationcenter">
						<div class="col">
							<a href="about.html" onmouseover="imgover('about');" onmouseout="imgout('about');">
								<span class="txt-over" id="txt-about">About XA</span>
								<img class="img" id="img-about" src="images/about-out.jpg" alt="" />
							</a>
						</div>
						<div class="col">
								<span class="txt-over" id="txt-prayer" style="cursor:default;">Peak of the Week</span>
								<img class="img" id="img-prayer" src="images/prayer-over.jpg" alt="" />
						</div>
						<div class="col">
							<a href="service.html" onmouseover="imgover('service');" onmouseout="imgout('service');">
								<span class="txt-over" id="txt-service">Rockin' Sockin' Tuesdays</span>
								<img class="img" id="img-service" src="images/service-out.jpg" alt="" />
							</a>
						</div>
						<div class="col">
							<a href="outreach.html" onmouseover="imgover('outreach');" onmouseout="imgout('outreach');">
								<span class="txt-over" id="txt-outreach">Reaching Out</span>
								<img class="img" id="img-outreach" src="images/outreach-out.jpg" alt="" />
							</a>
						</div>
						<div class="col">
							<a href="bible.html" onmouseover="imgover('bible');" onmouseout="imgout('bible');">
								<span class="txt-over" id="txt-bible">Get Yo' Word On</span>
								<img class="img" id="img-bible" src="images/bible-out.jpg" alt="" />
							</a>
						</div>
						<div class="col">
							<a href="more.html" onmouseover="imgover('more');" onmouseout="imgout('more');">
								<span class="txt-over" id="txt-more">More Info</span>
								<img class="img" id="img-more" src="images/more-out.jpg" alt="" />
							</a>
						</div>
					</div>
				</div>
				<br style="clear:both;" />
				<br />
				<div id="content">
					<div id="contentcenter">
						<h3>Monday Night Prayer</h3>
						<p>Peak of the Week? Sounds like something the mountaineers club chooses as the premier climbing spot for that week. Or perhaps is a weekly “peek” at the hottest movie to hit theaters. Well you guessed it... it’s BOTH!! I mean... it’s NEITHER!!! We don’t have the funds or desire to mountain climb on a weekly basis or watch the hottest movie when there is the real Peak of the Week at our disposal. So what could be so insanely cool and exciting that your local Chi Alphans just had to refer to it as the Peak of their Week? Well I’ll tell you what it is. Well no actually I’ll tell you where it is. This will give more time for the suspense to build.</p>
						<p>Well if you haven’t guessed it, this is a weekly meeting. It occurs every Monday night, at 9 pm, in none other than the world famous apartment 1612. Alright, well that about covers when and where. Now I’m sure you’re just dying to know what the Peak of the Week is.</p>
						<p>Well if no one has told you about this awesome time yet, I will. The Peak of the Week is simply a name we have given to the common, or should be common, act of prayer. So why am I so excited about it, and why have Chi Alphans named it the most important part of their week. Well basically because it’s when we collectively get together and directly communicate with the Most Awesome One Himself.</p> 
						<p>Prayer is something that most all Christians have heard of but very few indeed practice to its fullest awesomeness, if that makes sense. We are called to pray daily, and without ceasing. Sounds impossible? Well not really. Prayer is just communication with God, and if He is involved in everything we do, we can communicate without ceasing whether it be verbally or in our actions or thoughts. But if we pray daily then why do we need to come to a prayer time once a week?</p>
						<p>One basic answer:  “Where two or more are gathered in My name, I am there in the midst of them.” The Big One Himself said that, and we take hold of it. It’s true that without daily personal prayer, our relationship with God can’t grow. But a church, such as Chi Alpha, also needs prayer. We come together every Monday night to start our week off strong and to prepare for anything to come.</p>  
						<p>At Monday night prayer we not only pray for specific needs that our members bring up, but we pray for every aspect of Chi Alpha. The bible tells us of an unseen battle going on constantly around us, and the only weapon we humans have is the power of prayer.</p>
						<p>So I ask you to try out the Peak of the Week. If prayer is not your thing, or if you don’t think you can last praying for more than 10 minutes then I disagree with you. It is simply your choice. And Chi Alpha needs prayer as much as any one.</p>
						<p>If you need further convincing here are a few of the benefits of prayer. God rewards those who give their time for the benefit of others. And he rewards those at prayer with words of wisdom and encouragement that you can’t get anywhere else on campus. I mean they come straight from Him to you. So that’s a huge immediate benefit. And then of course there is the long term benefit of answered prayers.</p>
						<p>If you are interested in praying with us, or have any questions, feel free to email any of the Chi Alpha staff or just show up at apartment 1612 at 9 pm any Monday night. Thanks for taking the time to read this, and have a blessed day.</p>
					</div>
				</div>
				<div id="footer">
					<div id="footercenter">
						<a href="index.html">Home</a> | <a href="http://www.chialpha.com/">National Chi Alpha</a> | <a href="http://www.xaoklahoma.com/">Oklahoma Chi Alpha</a> | <a href="contact.html">Contact Us</a>
					</div>
				</div>
				</div>
			</body>
		</html>