/* $Id$ */
body {
	padding: 0;
	border: 0;
	margin: 0;
	background-color: #336699;
	text-align: center;
	min-width:600px;
	font-family: Georgia, Times, "Times New Roman", serif;
	color: #ffffff;
	}
	
#bodycenter {
	margin-right: auto;
	margin-left: auto;
	text-align: left;
	width: 600px;
	}

a {
	text-decoration: none;
	color: #ffffff;
	}
	
a:hover {
	text-decoration: underline;
	}
	
#header {
	margin: 0 auto;
	width: auto;
	}
	
#header h1 {
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 50px;
	padding: 0;
	margin: 16px;
	border: 0;
	text-align: center;
	font-weight: bolder;
	font-stretch: condensed;
	}
	
#txt-xa {
	color: #ffffff;
	font-weight: bolder;
	}
	
#txt-tulsa {
	color: #ff0000;
	font-weight: bolder;
	}
	
#navigation {
	padding: 0;
	border: 0;
	margin: 0;
	text-align: center;
	width: 100%;
	}
	
#navigationcenter {
	padding: 0;
	width: auto;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	}

.col {
	width: 200px;
	float: left;
	margin: 0 auto;
	background-color: #6699cc;
	}
	
.row {
	height: 200px;
	padding: 0;
	margin: 5px;
	position: relative;
	}
	
.img {
	padding: 0;
	margin: 0;
	border: 2px solid #336699;
	width: 186px;
	min-width: 186px;
	height: 196px;
	min-height: 196px;
	}
	
.txt-over {
	position: absolute;
	z-index: 5;
	bottom: 10px;
	margin: auto;
	width: 100%;
	cursor: pointer;
	text-decoration: none;
	}
	
#footer {
	padding: 5px;
	border: 0;
	margin: 0;
	text-align: center;
	width: 100%;
	clear: both;
	}

#footercenter {
	padding: 0;
	width: auto;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	}