/* $Id$ */
body {
	padding: 0;
	border: 0;
	margin: 0;
	background-color: #336699;
	text-align: center;
	min-width:600px;
	font-family: Georgia, Times, "Times New Roman", serif;
	color: #ffffff;
	}
	
#bodycenter {
	margin-right: auto;
	margin-left: auto;
	text-align: left;
	width: 600px;
	}

a {
	text-decoration: none;
	font-style: italic;
	color: #ffffff;
	}
	
a:hover {
	text-decoration: underline;
	}
	
p {
	text-indent: 20px;
	}
	
#header {
	margin: 0 auto;
	width: auto;
	}
	
#header h1 {
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 50px;
	padding: 0;
	margin: 16px;
	border: 0;
	text-align: center;
	font-weight: bolder;
	font-stretch: condensed;
	}
	
h2 {
	background-color: #336699;
	color: #6699cc;
	padding: 4px;
	}
	
h3 {
	background-color: #ffffff;
	color: #336699;
	padding: 1px 4px;
	}
	
#txt-xa {
	color: #ffffff;
	font-weight: bolder;
	}
	
#txt-tulsa {
	color: #ff0000;
	font-weight: bolder;
	}
	
#navigation {
	padding: 0;
	border: 0;
	margin: 0;
	text-align: center;
	width: 600px;
	}
	
#navigationcenter {
	padding: 0;
	width: auto;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	}

.col {
	width: 100px;
	height: 100px;
	float: left;
	padding: 0;
	border: 0;
	margin: 0;
	background-color: #6699cc;
	position: relative;
	}
	
.img {
	padding: 0 !important;
	margin: 0 !important;
	margin-right: -4px;
	margin-bottom: -3px;
	padding: -4px;
	border: 0;
	width: 100px;
	min-width: 100px;
	height: 100px;
	min-height: 100px;
	}
	
.txt-over {
	position: absolute;
	bottom: 5px;
	margin: auto;
	width: 100%;
	cursor: pointer;
	text-decoration: none;
	}
	
#content {
	padding: 0;
	border: 0;
	margin: 0;
	margin-top: 10px;
	text-align: center;
	width: 600px;
	clear: both;
	}
	
#contentcenter {
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 1px;
	padding-bottom: 1px;
	width: auto;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
	background-color: #6699cc;
	}

#footer {
	padding: 5px;
	border: 0;
	margin: 0;
	text-align: center;
	width: 100%;
	clear: both;
	}

#footercenter {
	padding: 0;
	width: auto;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	}